In [1]:
import pandas as pd
import numpy as np

In [4]:
nike_dunk = pd.read_csv('data/nike_dunk(model).csv', index_col=0)
jordan1 = pd.read_csv('data/jordan_1(model).csv', index_col=0)
nike_air_force = pd.read_csv('data/nike_air_force(model).csv', index_col=0)

/Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
print(nike_dunk.shape)
nike_dunk.head(1)

(197162, 30)

,size,price,date,product,release_date,color,release_price,brand,category,number,...,color1,color2,color3,color4,Collabo,Collabo_brand,after_day,after_day_log,date_unix,release_date_unix
0,235,124000,2021-11-14,(W) Nike Dunk Low SE Primal Black,2021-11-07,BLACK/MULTI-COLOR/BLACK,129000,Nike,Nike Dunk,41947.0,...,BLACK,MULTI-COLOR,BLACK,NaN,False,None,7,1.94591,738108,738101

In [9]:
print(jordan1.shape)
jordan1.head(1)

(290906, 30)

,size,price,date,product,release_date,color,release_price,type,brand,category,...,color1,color2,color3,color4,Collabo,Collabo_brand,after_day,after_day_log,date_unix,release_date_unix
0,250,202000,2021-06-13,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,...,LIGHTFUSIONRED,WHITE-LASERORANGE-BLACK,NaN,NaN,False,None,1,9.999995e-07,737954,737953

In [10]:
print(nike_air_force.shape)
nike_air_force.head(1)

(74307, 31)

,size,price,date,product,release_date,color,release_price,type,brand,category,...,color2,color3,color4,color5,Collabo,Collabo_brand,after_day,after_day_log,date_unix,release_date_unix
0,240,180000,2020-10-25,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc,Nike,Nike Air Force,...,GAMEROYAL-UNIVERSITYRED,NaN,NaN,NaN,False,None,8,2.079442,737723,737715

In [12]:
nike_dunk['color5'] = np.nan

In [14]:
jordan1['color5'] = np.nan

In [17]:
columns = nike_air_force.columns

In [ ]:
columns = ['date', 'product', 'size', 'price', 'release_date']

In [19]:
nike_dunk = nike_dunk[columns]
nike_air_force = nike_air_force[columns]
jordan1 = jordan1[columns]

In [30]:
pd.options.display.max_columns=100

In [33]:
data = pd.concat([nike_dunk, nike_air_force, jordan1], axis=0).reset_index(drop=True)

In [34]:
data.to_csv('data/dataset.csv', index=False)

In [36]:
print(data.shape)
data.head(1)

(562375, 31)

,size,price,date,product,release_date,color,release_price,type,brand,category,number,wish,review,transactions,review_log,wish_log,size_target,size_type,color_count,multicolor,color1,color2,color3,color4,color5,Collabo,Collabo_brand,after_day,after_day_log,date_unix,release_date_unix
0,235,124000,2021-11-14,(W) Nike Dunk Low SE Primal Black,2021-11-07,BLACK/MULTI-COLOR/BLACK,129000,Low,Nike,Nike Dunk,41947.0,93.0,4.0,30,1.386295,4.5326,Female,W,3,True,BLACK,MULTI-COLOR,BLACK,NaN,NaN,False,None,7,1.94591,738108,738101

In [39]:
data.drop_duplicates().shape

(439250, 31)