In [82]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings(action='ignore')

In [83]:
df = pd.read_csv('data/jordan_1(raw).csv')
df.head(3)

,size,price,date,product,release_date,color,release_price
0,300,"250,000원",21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원"
1,285,"239,000원",21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원"
2,280,"260,000원",21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원"

In [84]:
df.value_counts()

size     price     date      product                                      release_date  color                              release_price
265      240,000원  20/10/31  Jordan 1 Retro High OG CO.JP Midnight Navy   20/10/31      WHITE/METALLICSILVER-MIDNIGHTNAVY  199,000원         36
275      245,000원  20/10/31  Jordan 1 Retro High OG CO.JP Midnight Navy   20/10/31      WHITE/METALLICSILVER-MIDNIGHTNAVY  199,000원         34
270      240,000원  20/10/31  Jordan 1 Retro High OG CO.JP Midnight Navy   20/10/31      WHITE/METALLICSILVER-MIDNIGHTNAVY  199,000원         28
260      320,000원  20/11/18  Jordan 1 Retro High OG Black Mocha           20/11/13      SAIL/DARKMOCHA-BLACK-BLACK         199,000원         27
275      370,000원  21/04/14  Jordan 1 Retro High OG Hyper Royal           21/04/14      HYPERROYAL/LIGHTSMOKEGREY/WHITE    199,000원         27
                                                                                                                                            ..
250(7Y)  375,000원  21/04/22  (GS) Jordan 1 Retro High OG University Blue  21/03/06      WHITE/UNIVERSITYBLUE/BLACK         139,000원          1
                   21/06/19  (GS) Jordan 1 Low Light Smoke Grey           20/09/30      LIGHTSMOKEGREY/GYMRED/WHITE        99,000원           1
                   22/01/03  (GS) Jordan 1 Low Light Smoke Grey           20/09/30      LIGHTSMOKEGREY/GYMRED/WHITE        99,000원           1
         376,000원  20/09/15  (GS) Jordan 1 Mid Light Smoke Grey           20/01/10      LIGHTSMOKEGREY/BLACK-WHIT          109,000원          1
90       99,000원   22/01/02  (TD) Jordan 1 Retro High OG Patent Bred      21/12/23      BLACK/VARSITYRED-WHITE             79,000원           1
Length: 247589, dtype: int64

In [85]:
df.shape

(324547, 7)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324547 entries, 0 to 324546
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   size           324547 non-null  object
 1   price          324547 non-null  object
 2   date           324547 non-null  object
 3   product        324547 non-null  object
 4   release_date   324547 non-null  object
 5   color          324547 non-null  object
 6   release_price  324547 non-null  object
dtypes: object(7)
memory usage: 17.3+ MB

In [87]:
# null 값 보기 
tot = df.isnull().sum().sort_values(ascending=False)
pct = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([tot, pct], axis=1, keys=['Total', 'Percent'])
missing_data

               Total  Percent
size               0      0.0
price              0      0.0
date               0      0.0
product            0      0.0
release_date       0      0.0
color              0      0.0
release_price      0      0.0

###  Preprocessing

In [88]:
# High / Mid / Low구분

In [89]:
df.head(3)

,size,price,date,product,release_date,color,release_price
0,300,"250,000원",21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원"
1,285,"239,000원",21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원"
2,280,"260,000원",21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원"

In [90]:
df.loc[df['product'].str.contains(' High', regex=False), 'type'] = 'High'
df.loc[df['product'].str.contains(' Mid', regex=False), 'type'] = 'Mid'
df.loc[df['product'].str.contains(' Low', regex=False), 'type'] = 'Low'

In [91]:
df.loc[df['type'].isnull(), 'type'] = 'etc'

In [92]:
df['type'].value_counts()

High    119151
Mid      92822
Low      91819
etc      20755
Name: type, dtype: int64

In [93]:
df.loc[df['product'].str.contains('Yellow', regex=False), ['product', 'type']].value_counts()

product                             type
Jordan 1 Low Royal Yellow           Low     754
(W) Jordan 1 Mid LX Opti Yellow     Mid     318
(W) Jordan 1 Low Yellow Strike      Low     138
Jordan 1 Retro High Yellow Ochre    High     62
(W) Jordan 1 Mid SE Voltage Yellow  Mid      30
dtype: int64

In [94]:
df['type'].isnull().value_counts()

False    324547
Name: type, dtype: int64

In [95]:
# size 컬럼에서 사이즈만 추출  

def size (x) :
    return str(x)[:3]

df['size'] = df["size"].apply(size)

In [96]:
df['size'] = df['size'].apply(int)

In [97]:
# price 컬럼  " , " 과 " 원 " 제거 

import re

def extract_num (num_str) :
    if type(num_str) == str :
        num_str = re.sub('[^0-9]','',num_str)
    return num_str

df['price'] = df['price'].apply(extract_num)
df.head()

,size,price,date,product,release_date,color,release_price,type
0,300,250000,21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원",High
1,285,239000,21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원",High
2,280,260000,21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원",High
3,270,250000,21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원",High
4,260,349000,21/06/09,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,"199,000원",High

In [98]:
df['price'] = df['price'].apply(int)

In [99]:
# "통화기호 , 한글제거 ""

def NotWon(x):
    if '약' in x:
        r = x.find('약')
        return x[r+1:-2]
    else:
        return x[:-1]

df['release_price'] = df['release_price'].apply(NotWon)

In [100]:
# 가격누락된 컬럼 값 추가 (재확인 필요)
df.loc[df['release_price'] == '', 'release_price']  = '115,000'

In [101]:
# 특수문자 제거 
df['release_price'] = df['release_price'].apply(extract_num)
df.head()

,size,price,date,product,release_date,color,release_price,type
0,300,250000,21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
1,285,239000,21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
2,280,260000,21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
3,270,250000,21/06/08,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
4,260,349000,21/06/09,Jordan 1 Retro High OG Light Fusion Red,21/06/12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High

In [102]:
df['release_price'] = df['release_price'].apply(int)

In [103]:
# date , release_date 컬럼 변경 

df['date'] = df["date"].str.replace('/','-')
df['release_date'] = df['release_date'].str.replace('/','-')

In [104]:
# yyyy -mm-dd 형식으로 변환 
df['date'] = pd.to_datetime(df['date'], format='%y-%m-%d')

In [105]:
#release_date 누락된 값 추가 
df.loc[df['release_date'] == '-', 'release_date']  = '21-07-22'

In [106]:
# yyyy -mm-dd 형식으로 변환 
df['release_date'] = pd.to_datetime(df['release_date'], format='%y-%m-%d')

In [107]:
df.head()

,size,price,date,product,release_date,color,release_price,type
0,300,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
1,285,239000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
2,280,260000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
3,270,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
4,260,349000,2021-06-09,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High

In [108]:
# # 향후 모델링을 고려해 날짜 형식을 Unix 형식으로 변환 

# import datetime as dt

# df['date'] = df['date'].map(dt.datetime.toordinal)
# df['release_date'] = df['release_date'].map(dt.datetime.toordinal)

In [109]:
df.head()

,size,price,date,product,release_date,color,release_price,type
0,300,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
1,285,239000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
2,280,260000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
3,270,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
4,260,349000,2021-06-09,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High

In [110]:
products = pd.read_csv('data/products/products_jordan_1.csv')

In [111]:
products.drop('Unnamed: 0', axis=1, inplace=True)

In [112]:
print(products.shape)
products.head()

(360, 6)

,product,brand,category,number,wish,review
0,Jordan 1 Retro High OG Patent Bred,Jordan,Jordan 1,45326,"6,937",716
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,Jordan 1,38367,1.6만,"3,307"
2,(W) Jordan 1 Mid Grey Fog,Jordan,Jordan 1,41534,2.9만,511
3,Jordan 1 Low OG Starfish,Jordan,Jordan 1,39518,1.5만,"1,028"
4,(W) Jordan 1 Low OG Starfish,Jordan,Jordan 1,39519,"9,441",385

In [113]:
products['review']

0        716
1      3,307
2        511
3      1,028
4        385
       ...
355        4
356       17
357        8
358       20
359       10
Name: review, Length: 360, dtype: object

In [114]:
products['review'] = products['review'].apply(extract_num).apply(int)

In [115]:
products['review'].value_counts()

3      14
24      8
17      7
8       6
18      6
       ..
625     1
622     1
109     1
103     1
511     1
Name: review, Length: 188, dtype: int64

In [116]:
# products['wish'][0][:-1]

In [117]:
# float(products['wish'][0][:-1])

In [118]:
def number_transform(x):
    if '만' in x:
        return float(x[:-1])*10000
    else:
        return x

In [119]:
products['wish'] = products['wish'].apply(number_transform)

In [120]:
products['wish'] = products['wish'].apply(extract_num).apply(int)

In [121]:
dataset = pd.merge(df, products, how='left', on='product')
print(df.shape)
dataset.head()

(324547, 8)

,size,price,date,product,release_date,color,release_price,type,brand,category,number,wish,review
0,300,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443
1,285,239000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443
2,280,260000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443
3,270,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443
4,260,349000,2021-06-09,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443

In [122]:
transactions = dataset['product'].value_counts()

In [123]:
transactions = pd.DataFrame({'product':transactions.index , 'transactions':transactions.values})

In [124]:
dataset = pd.merge(dataset, transactions, how='left', on='product')

In [125]:
dataset

,size,price,date,product,release_date,color,release_price,type,brand,category,number,wish,review,transactions
0,300,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443,1450
1,285,239000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443,1450
2,280,260000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443,1450
3,270,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443,1450
4,260,349000,2021-06-09,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High,Jordan,Jordan 1,35701,3614,443,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325222,235,239000,2021-12-20,(W) Jordan 1 Mid Anti Gravity Machines,2021-07-20,DARKPONY/SATURNGOLD-REDSTONE,143500,Mid,Jordan,Jordan 1,41697,244,10,18
325223,235,245000,2021-12-24,(W) Jordan 1 Mid Anti Gravity Machines,2021-07-20,DARKPONY/SATURNGOLD-REDSTONE,143500,Mid,Jordan,Jordan 1,41697,244,10,18
325224,280,289000,2021-12-26,(W) Jordan 1 Mid Anti Gravity Machines,2021-07-20,DARKPONY/SATURNGOLD-REDSTONE,143500,Mid,Jordan,Jordan 1,41697,244,10,18
325225,250,235000,2021-12-26,(W) Jordan 1 Mid Anti Gravity Machines,2021-07-20,DARKPONY/SATURNGOLD-REDSTONE,143500,Mid,Jordan,Jordan 1,41697,244,10,18
325226,280,289000,2022-01-01,(W) Jordan 1 Mid Anti Gravity Machines,2021-07-20,DARKPONY/SATURNGOLD-REDSTONE,143500,Mid,Jordan,Jordan 1,41697,244,10,18

In [126]:
dataset['transactions'].value_counts()

1450    43500
2950    23600
5950    11900
5900    11800
5850    11700
        ...
6           6
3           6
4           4
2           2
1           2
Name: transactions, Length: 265, dtype: int64

In [127]:
## 콜라보 떼어내기

In [128]:
# dataset['product'][99999]

In [129]:
# collabo = 'Nike x '
# r1 = dataset['product'][99999].find(string)
# r2 = dataset['product'][99999][r1+len(string):].find(' ')
# dataset['product'][99999][r1+len(string):r1+len(string)+r2]

In [130]:
# dataset.info()

In [131]:
dataset = dataset.reset_index(drop=True)

In [132]:
set(dataset['product'])

{'(GS) Jordan 1 Low Armory Navy',
 '(GS) Jordan 1 Low Black Particle Grey',
 '(GS) Jordan 1 Low Black Very Berry',
 '(GS) Jordan 1 Low Bred Toe',
 '(GS) Jordan 1 Low Court Purple 2020',
 '(GS) Jordan 1 Low Dark Powder Blue',
 '(GS) Jordan 1 Low Game Royal',
 '(GS) Jordan 1 Low Green Glow Purple Shock',
 '(GS) Jordan 1 Low Green Toe',
 '(GS) Jordan 1 Low Gym Red Black',
 '(GS) Jordan 1 Low Light Arctic Pink',
 '(GS) Jordan 1 Low Light Smoke Grey',
 '(GS) Jordan 1 Low OG Starfish',
 '(GS) Jordan 1 Low Pollen',
 '(GS) Jordan 1 Low Rush Pink',
 '(GS) Jordan 1 Low SE ASW Black',
 '(GS) Jordan 1 Low SE Barcelona',
 '(GS) Jordan 1 Low SE Light Smoke Grey Gym Red',
 '(GS) Jordan 1 Low SE Pale Vanilla',
 '(GS) Jordan 1 Low Varsity Red',
 '(GS) Jordan 1 Low White Red Black',
 '(GS) Jordan 1 Mid Black Arctic Punch',
 '(GS) Jordan 1 Mid Black Chile Red',
 '(GS) Jordan 1 Mid Black Hyper Royal',
 '(GS) Jordan 1 Mid Bred Banned 2020',
 '(GS) Jordan 1 Mid Chicago Black Toe',
 '(GS) Jordan 1 Mid Dark Teal',
 '(GS) Jordan 1 Mid Gym Red Black White',
 '(GS) Jordan 1 Mid Light Arctic Pink',
 '(GS) Jordan 1 Mid Light Smoke Grey',
 '(GS) Jordan 1 Mid Pollen',
 '(GS) Jordan 1 Mid Racer Blue',
 '(GS) Jordan 1 Mid SE ASW Black',
 '(GS) Jordan 1 Mid SE Arctic Punch',
 '(GS) Jordan 1 Mid SE Court Purple',
 '(GS) Jordan 1 Mid SE Pine Green Light Smoke Grey',
 '(GS) Jordan 1 Mid SE Siempre Familia',
 '(GS) Jordan 1 Mid SE Signal Blue',
 '(GS) Jordan 1 Mid SE Turf Orange',
 '(GS) Jordan 1 Mid SE USA Olympic',
 '(GS) Jordan 1 Mid Shadow',
 '(GS) Jordan 1 Mid Triple White',
 '(GS) Jordan 1 Mid Tropical Twist',
 '(GS) Jordan 1 Mid Very Berry ',
 '(GS) Jordan 1 Mid Volt Green Glow',
 '(GS) Jordan 1 Mid White Arctic Orange',
 '(GS) Jordan 1 Mid White Gym Red Black',
 '(GS) Jordan 1 Mid White Shadow',
 '(GS) Jordan 1 Retro High OG Black Mocha',
 '(GS) Jordan 1 Retro High OG Black White 2014',
 '(GS) Jordan 1 Retro High OG Bordeaux',
 '(GS) Jordan 1 Retro High OG Bred Banned 2016',
 '(GS) Jordan 1 Retro High OG CO.JP Midnight Navy',
 '(GS) Jordan 1 Retro High OG CO.JP Neutral Grey',
 '(GS) Jordan 1 Retro High OG Carmine 2014',
 '(GS) Jordan 1 Retro High OG Court Purple 2020',
 '(GS) Jordan 1 Retro High OG Electro Orange',
 '(GS) Jordan 1 Retro High OG Gym Red',
 '(GS) Jordan 1 Retro High OG Hyper Royal',
 '(GS) Jordan 1 Retro High OG Light Smoke Grey',
 '(GS) Jordan 1 Retro High OG Patent Bred',
 '(GS) Jordan 1 Retro High OG Pine Green Black',
 '(GS) Jordan 1 Retro High OG Pollen',
 '(GS) Jordan 1 Retro High OG Royal Toe',
 '(GS) Jordan 1 Retro High OG Shadow 2.0',
 '(GS) Jordan 1 Retro High OG Shattered Backboard 3.0',
 '(GS) Jordan 1 Retro High OG University Blue',
 '(GS) Jordan 1 Retro High Obsidian UNC',
 '(GS) Jordan 1 Retro Royal 2017',
 '(PS) Jordan 1 Low Alt Armory Navy',
 '(PS) Jordan 1 Low Alt Bred Toe',
 '(PS) Jordan 1 Low Alt Light Smoke Grey',
 '(PS) Jordan 1 Mid Alt Bred Banned 2020',
 '(PS) Jordan 1 Mid Alt Hyper Royal',
 '(PS) Jordan 1 Mid Alt Tropical Twist',
 '(PS) Jordan 1 Mid University Gold',
 '(PS) Jordan 1 Retro High OG Patent Bred',
 '(PS) Jordan 1 x A Ma Maniere Retro High OG SP Burgundy and Sail',
 '(TD) Jordan 1 Low Alt Armory Navy',
 '(TD) Jordan 1 Low Alt Bred Toe',
 '(TD) Jordan 1 Low Alt White Dark Powder Blue',
 '(TD) Jordan 1 Mid Alt Armory Navy',
 '(TD) Jordan 1 Mid Alt Bred Banned 2020',
 '(TD) Jordan 1 Mid Alt Hyper Royal',
 '(TD) Jordan 1 Retro High OG Patent Bred',
 '(TD) Jordan 1 x A Ma Maniere Retro High OG SP Burgundy and Sail',
 '(W) Jordan 1 Acclimate Black',
 '(W) Jordan 1 Acclimate Brown Basalt',
 '(W) Jordan 1 High OG Court Purple',
 '(W) Jordan 1 Low Arctic Pink',
 '(W) Jordan 1 Low Black Siren Red',
 '(W) Jordan 1 Low Black University Blue',
 '(W) Jordan 1 Low Black White',
 '(W) Jordan 1 Low Bronze Eclipse',
 '(W) Jordan 1 Low Canyon Rust',
 '(W) Jordan 1 Low Chicago Flip',
 '(W) Jordan 1 Low Coconut Milk',
 '(W) Jordan 1 Low Guava Ice',
 '(W) Jordan 1 Low Light Madder Root',
 '(W) Jordan 1 Low OG Neutral Grey 2021',
 '(W) Jordan 1 Low OG Starfish',
 '(W) Jordan 1 Low Panda',
 '(W) Jordan 1 Low SE Barely Green',
 '(W) Jordan 1 Low SE Corduroy Tan',
 '(W) Jordan 1 Low SE Dark Beetroot',
 '(W) Jordan 1 Low SE Deep Royal Blue',
 '(W) Jordan 1 Low SE Laser Orange',
 '(W) Jordan 1 Low SE Limelight',
 '(W) Jordan 1 Low SE Silver Toe',
 '(W) Jordan 1 Low SE Utility White Gym Red Black',
 '(W) Jordan 1 Low SE White Metallic Gold',
 '(W) Jordan 1 Low SE White Sesame',
 '(W) Jordan 1 Low Siren Red',
 '(W) Jordan 1 Low Triple White 2020',
 '(W) Jordan 1 Low UNC University Blue',
 '(W) Jordan 1 Low White Wolf Grey',
 '(W) Jordan 1 Low Yellow Strike',
 '(W) Jordan 1 Mid Anti Gravity Machines',
 '(W) Jordan 1 Mid Barely Orange',
 '(W) Jordan 1 Mid Barely Rose',
 '(W) Jordan 1 Mid Black White',
 '(W) Jordan 1 Mid Burgundy Dusty Pink',
 '(W) Jordan 1 Mid Coconut Milk',
 '(W) Jordan 1 Mid Grey Fog',
 '(W) Jordan 1 Mid Gym Red Black',
 '(W) Jordan 1 Mid Habanero Red',
 '(W) Jordan 1 Mid LX Opti Yellow',
 '(W) Jordan 1 Mid SE Corduroy',
 '(W) Jordan 1 Mid SE Dutch Green',
 '(W) Jordan 1 Mid SE Iridescent Trim',
 '(W) Jordan 1 Mid SE Laser Orange',
 '(W) Jordan 1 Mid SE Light Iron Ore',
 '(W) Jordan 1 Mid SE Multi-Color Lightbulb',
 '(W) Jordan 1 Mid SE Patent Blend',
 '(W) Jordan 1 Mid SE Sesame',
 '(W) Jordan 1 Mid SE Sisterhood',
 '(W) Jordan 1 Mid SE Utility Panda',
 '(W) Jordan 1 Mid SE Voltage Yellow',
 '(W) Jordan 1 Mid Siren Red',
 '(W) Jordan 1 Mid Teal Tint',
 '(W) Jordan 1 Mid To My First Coach',
 '(W) Jordan 1 Mid UNC',
 '(W) Jordan 1 Mid White Black University Blue',
 '(W) Jordan 1 Mid White Hyper Royal',
 '(W) Jordan 1 Mid Wolf Grey',
 '(W) Jordan 1 Retro High OG Atmosphere',
 '(W) Jordan 1 Retro High OG Lucky Green',
 '(W) Jordan 1 Retro High OG Seafoam',
 '(W) Jordan 1 Retro High OG UNC To Chicago',
 '(W) Jordan 1 Retro High Satin Black Toe',
 '(W) Jordan 1 Retro High Satin Red',
 '(W) Jordan 1 Retro High Silver Toe',
 '(W) Jordan 1 Retro High Tie-Dye',
 '(W) Jordan 1 Sage XX Off White',
 '(W) Jordan 1 Zoom Air CMFT Bred',
 '(W) Jordan 1 Zoom Air CMFT Grey Fog and Celestine Blue',
 '(W) Jordan 1 Zoom Air CMFT Lemon Twist',
 '(W) Jordan 1 Zoom Air CMFT Light Bone',
 '(W) Jordan 1 Zoom Air CMFT Olive Aura',
 '(W) Jordan 1 Zoom Air CMFT Pale Ivory',
 '(W) Jordan 1 Zoom Air CMFT Pink Glaze',
 '(W) Jordan 1 Zoom Air CMFT Plum Purple',
 '(W) Jordan 1 Zoom Air CMFT Psychic Blue Sesame',
 '(W) Jordan 1 Zoom Air CMFT Rust',
 '(W) Jordan 1 Zoom Air CMFT SE Sisterhood',
 '(W) Jordan 1 Zoom Air CMFT Sail',
 '(W) Jordan 1 Zoom Air CMFT Summit Sail',
 '(W) Jordan 1 Zoom Air CMFT Team Red',
 '(W) Jordan 1 x Aleali May Zoom CMFT SP Califia',
 '(W) Jordan 1 x Billie Eilish KO SP Lime Green',
 '(W) Jordan 1 x Melody Ehsani Mid SE Fearless',
 'Jordan 1 Centre Court White On White',
 'Jordan 1 Centre Court White University Red',
 'Jordan 1 Element Gore-Tex Particle Grey',
 'Jordan 1 Element Gore-Tex Sail',
 'Jordan 1 FlyEase Bred White Toe',
 'Jordan 1 High 85 Neutral Grey',
 'Jordan 1 High 85 Varsity Red',
 'Jordan 1 High FlyEase Black White',
 'Jordan 1 High Switch Light Smoke Grey',
 'Jordan 1 KO Chicago 2021',
 'Jordan 1 KO Storm Blue',
 'Jordan 1 Low Black Light Smoke Grey',
 'Jordan 1 Low Black Particle Grey',
 'Jordan 1 Low Black Toe',
 'Jordan 1 Low Bred Toe',
 'Jordan 1 Low Court Purple 2020',
 'Jordan 1 Low Crimson Tint',
 'Jordan 1 Low Dark Powder Blue',
 'Jordan 1 Low Dark Teal',
 'Jordan 1 Low Green Toe',
 'Jordan 1 Low Gym Red Black',
 'Jordan 1 Low Gym Red White',
 'Jordan 1 Low Hyper Royal',
 'Jordan 1 Low Laser Blue',
 'Jordan 1 Low Light Smoke Grey',
 'Jordan 1 Low OG Ghost Green',
 'Jordan 1 Low OG Neutral Grey 2021',
 'Jordan 1 Low OG Starfish',
 'Jordan 1 Low Orange Olive',
 'Jordan 1 Low PRM Elephant Print',
 'Jordan 1 Low Pollen',
 'Jordan 1 Low Quai 54 2021',
 'Jordan 1 Low Royal Yellow',
 'Jordan 1 Low SB UNC',
 'Jordan 1 Low SE ASW Black',
 'Jordan 1 Low SE Arctic Punch',
 'Jordan 1 Low SE Aurora Green',
 'Jordan 1 Low SE Chocolate Bliss',
 'Jordan 1 Low SE Crater',
 'Jordan 1 Low SE Light Smoke Grey Gym Red',
 'Jordan 1 Low SE Spades',
 'Jordan 1 Low SE Tropical Twist',
 'Jordan 1 Low SE USA',
 'Jordan 1 Low SE Violet Shock',
 'Jordan 1 Low Shattered Backboard',
 'Jordan 1 Low To My First Coach',
 'Jordan 1 Low Triple White Tumbled Leather 2020',
 'Jordan 1 Low University Blue Black',
 'Jordan 1 Low University Gold Black',
 'Jordan 1 Low Varsity Red',
 'Jordan 1 Low White Camo',
 'Jordan 1 Low White Red Black',
 'Jordan 1 Mid Arctic Orange',
 'Jordan 1 Mid Black Chile Red',
 'Jordan 1 Mid Black Hyper Royal',
 'Jordan 1 Mid Bred Banned 2020',
 'Jordan 1 Mid Bred Toe Noble Red',
 'Jordan 1 Mid Chicago 2020',
 'Jordan 1 Mid Chicago Black Toe',
 'Jordan 1 Mid DOD Familia',
 'Jordan 1 Mid Dark Teal',
 'Jordan 1 Mid Gym Red Black White',
 'Jordan 1 Mid Lakers Top 3',
 'Jordan 1 Mid Light Smoke Grey',
 'Jordan 1 Mid Light Smoke Grey Anthracite',
 'Jordan 1 Mid Linen',
 'Jordan 1 Mid Multi-Color Swoosh',
 'Jordan 1 Mid Pollen',
 'Jordan 1 Mid Racer Blue',
 'Jordan 1 Mid Royal 2020',
 'Jordan 1 Mid SE ASW Black',
 'Jordan 1 Mid SE Barcelona Sweater',
 'Jordan 1 Mid SE Brushstroke',
 'Jordan 1 Mid SE Court Purple',
 'Jordan 1 Mid SE Dark Chocolate',
 'Jordan 1 Mid SE Electro Orange',
 'Jordan 1 Mid SE Heat Reactive',
 'Jordan 1 Mid SE Metallic Gold',
 'Jordan 1 Mid SE Pine Green Light Smoke Grey',
 'Jordan 1 Mid SE Siempre Familia',
 'Jordan 1 Mid SE Signal Blue',
 'Jordan 1 Mid SE South Beach',
 'Jordan 1 Mid SE Track Red',
 'Jordan 1 Mid SE Turf Orange',
 'Jordan 1 Mid Shattered Backboard',
 'Jordan 1 Mid Sonics 2021',
 'Jordan 1 Mid Tan Gum',
 'Jordan 1 Mid Triple White',
 'Jordan 1 Mid Tropical Twist',
 'Jordan 1 Mid White Shadow',
 'Jordan 1 Mid White University Gold',
 'Jordan 1 Retro All Star 2017 Chameleon',
 'Jordan 1 Retro Black Gum',
 'Jordan 1 Retro High Baroque Brown',
 'Jordan 1 Retro High Court Purple',
 'Jordan 1 Retro High Defiant White Black Gym Red',
 'Jordan 1 Retro High Fearless UNC Chicago',
 'Jordan 1 Retro High Fearless Zoom',
 'Jordan 1 Retro High Game Royal',
 'Jordan 1 Retro High Homage To Home (Non-Numbered)',
 'Jordan 1 Retro High NRG Patent Gold Toe',
 'Jordan 1 Retro High Neutral Grey Hyper Crimson',
 'Jordan 1 Retro High Nigel Sylvester',
 'Jordan 1 Retro High Not for Resale Varsity Red',
 'Jordan 1 Retro High OG A Star Is Born',
 'Jordan 1 Retro High OG Black Gym Red Black',
 'Jordan 1 Retro High OG Black Mocha',
 'Jordan 1 Retro High OG Black Toe 2016',
 'Jordan 1 Retro High OG Bloodline',
 'Jordan 1 Retro High OG Bordeaux',
 'Jordan 1 Retro High OG Bred Banned 2016',
 'Jordan 1 Retro High OG Bred Toe',
 'Jordan 1 Retro High OG CO.JP Midnight Navy',
 'Jordan 1 Retro High OG CO.JP Neutral Grey',
 'Jordan 1 Retro High OG Chicago 2015',
 'Jordan 1 Retro High OG Court Purple 2020',
 'Jordan 1 Retro High OG Craft',
 'Jordan 1 Retro High OG Crimson Tint',
 'Jordan 1 Retro High OG Defiant Couture',
 'Jordan 1 Retro High OG Defiant SB LA to Chicago',
 'Jordan 1 Retro High OG Defiant SB NYC to Paris',
 'Jordan 1 Retro High OG Electro Orange',
 'Jordan 1 Retro High OG First Class Flight',
 'Jordan 1 Retro High OG Gym Red',
 'Jordan 1 Retro High OG Hyper Royal',
 'Jordan 1 Retro High OG Light Fusion Red',
 'Jordan 1 Retro High OG Light Smoke Grey',
 'Jordan 1 Retro High OG Metallic Gold',
 'Jordan 1 Retro High OG Patent Bred',
 'Jordan 1 Retro High OG Pine Green',
 'Jordan 1 Retro High OG Pine Green Black',
 'Jordan 1 Retro High OG Pollen',
 'Jordan 1 Retro High OG Prototype',
 'Jordan 1 Retro High OG Reverse Shattered Backboard',
 'Jordan 1 Retro High OG Royal Toe',
 'Jordan 1 Retro High OG Rust Shadow',
 'Jordan 1 Retro High OG Shadow 2.0',
 'Jordan 1 Retro High OG Shadow 2018',
 'Jordan 1 Retro High OG Top 3',
 'Jordan 1 Retro High OG Track Red',
 'Jordan 1 Retro High OG Turbo Green',
 'Jordan 1 Retro High OG University Blue',
 'Jordan 1 Retro High OG Volt Gold',
 'Jordan 1 Retro High Obsidian UNC',
 'Jordan 1 Retro High Phantom Gym Red',
 'Jordan 1 Retro High Rookie of the Year',
 'Jordan 1 Retro High Shattered Backboard 3.0',
 'Jordan 1 Retro High Spider-Man Origin Story',
 'Jordan 1 Retro High Wheat',
 'Jordan 1 Retro High Wings',
 'Jordan 1 Retro High Yellow Ochre',
 'Jordan 1 Retro High Zoom Black Green',
 'Jordan 1 Retro High Zoom Crater',
 'Jordan 1 Retro High Zoom White Racer Blue',
 'Jordan 1 Retro KO High Chicago Vintage',
 'Jordan 1 Retro Low OG Bred 2015',
 'Jordan 1 Retro Royal 2017',
 'Jordan 1 Retro Shattered Backboard',
 'Jordan 1 Retro Storm Blue',
 'Jordan 1 Zoom Air CMFT Chile Red',
 'Jordan 1 Zoom Air CMFT Gym Red',
 'Jordan 1 Zoom Air CMFT London',
 'Jordan 1 Zoom Air CMFT Monarch Orange',
 'Jordan 1 Zoom Air CMFT Stadium Green',
 'Jordan 1 Zoom Air CMFT Tropical Twist',
 'Jordan 1 x A Ma Maniere Retro High OG SP Sail and Burgundy',
 'Jordan 1 x Blue The Great Mid SE Fearless',
 'Jordan 1 x Clot Mid SE Fearless Edison Chen',
 'Jordan 1 x Comme des Garcons Homme Plus Retro Strap High Black',
 'Jordan 1 x Dior High OG',
 'Jordan 1 x Dior Low OG',
 'Jordan 1 x Ghetto Gastro Low React Fearless',
 'Jordan 1 x J Balvin Retro High OG',
 'Jordan 1 x Lance Mountain Low SB QS Desert Ore',
 'Jordan 1 x League of Legends Zoom Air CMFT Esports',
 'Jordan 1 x Off-White Retro High Chicago The Ten',
 'Jordan 1 x Off-White Retro High University Blue',
 'Jordan 1 x Paris Saint-Germain Retro High',
 'Jordan 1 x Paris Saint-Germain Zoom Air CMFT',
 'Jordan 1 x SoleFly Retro Low OG SP Black and Sport Red',
 'Jordan 1 x Travis Scott Retro High OG SP Mocha',
 'Jordan 1 x Travis Scott Retro Low OG SP Mocha',
 'Jordan 1 x Travis Scott x Fragment Retro High OG SP Military Blue',
 'Jordan 1 x Travis Scott x Fragment Retro Low OG SP Military Blue',
 'Jordan 1 x Trophy Room Retro High OG SP Chicago',
 'Jordan 1 x Trophy Room Retro High OG SP Chicago (Friends & Family)',
 'Jordan 1 x Union Retro High Black Toe',
 'Jordan 1 x Union Retro High Blue Toe'}

In [133]:
dataset['product'].value_counts().head(20)

Jordan 1 Retro High OG Hyper Royal                                  7300
Jordan 1 x Travis Scott x Fragment Retro Low OG SP Military Blue    6050
(W) Jordan 1 Low White Wolf Grey                                    6000
Jordan 1 Low OG Starfish                                            5950
Jordan 1 Mid Gym Red Black White                                    5950
Jordan 1 Retro High OG Shadow 2.0                                   5900
(W) Jordan 1 Mid Grey Fog                                           5900
(W) Jordan 1 Mid Wolf Grey                                          5850
Jordan 1 Mid Bred Banned 2020                                       5850
Jordan 1 Retro High OG CO.JP Midnight Navy                          5750
Jordan 1 Retro High OG Black Mocha                                  5100
(W) Jordan 1 Low OG Starfish                                        4770
Jordan 1 Retro High OG Bordeaux                                     4450
Jordan 1 Retro High OG Volt Gold                                    4358
Jordan 1 Low Black Particle Grey                                    4200
Jordan 1 Low Dark Teal                                              3500
Jordan 1 Mid Light Smoke Grey                                       3150
Jordan 1 Retro High OG Pollen                                       3000
(GS) Jordan 1 Retro High OG Hyper Royal                             2950
Jordan 1 Retro High OG Pine Green Black                             2950
Name: product, dtype: int64

In [134]:
# 중복제거 적용 안함
dataset.drop_duplicates()['product'].value_counts().head(20)

(W) Jordan 1 Mid Wolf Grey                                          4329
(W) Jordan 1 Low White Wolf Grey                                    4027
Jordan 1 Retro High OG Hyper Royal                                  3773
Jordan 1 Mid Bred Banned 2020                                       3701
Jordan 1 Retro High OG CO.JP Midnight Navy                          3641
Jordan 1 x Travis Scott x Fragment Retro Low OG SP Military Blue    3546
(W) Jordan 1 Mid Grey Fog                                           3534
Jordan 1 Low OG Starfish                                            3361
(W) Jordan 1 Low OG Starfish                                        3194
Jordan 1 Mid Gym Red Black White                                    3071
Jordan 1 Retro High OG Volt Gold                                    3036
Jordan 1 Low Black Particle Grey                                    2932
Jordan 1 Retro High OG Pine Green Black                             2668
Jordan 1 x Travis Scott Retro High OG SP Mocha                      2622
Jordan 1 Retro High OG Gym Red                                      2549
Jordan 1 Mid SE ASW Black                                           2488
Jordan 1 Low Light Smoke Grey                                       2440
Jordan 1 Mid Light Smoke Grey                                       2339
(W) Jordan 1 Retro High OG Lucky Green                              2276
Jordan 1 Retro High OG Shadow 2.0                                   2215
Name: product, dtype: int64

In [135]:
# csv 파일로 저장 

dataset.to_csv('data/jordan_1(pre).csv')