In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df = pd.read_csv('data/nike_air_force(raw).csv')
df.head(3)

,size,price,date,product,release_date,color,release_price
0,240,"180,000원",20/10/25,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)"
1,235,"120,000원",21/03/03,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)"
2,270,"198,000원",21/08/08,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)"

In [3]:
df.value_counts()

size  price     date      product                                  release_date  color                       release_price
250   142,000원  21/10/14  (W) Nike Air Force 1 '07 LV8 Hangul Day  21/10/09      BEIGE                       139,000원         19
260   144,000원  21/06/01  Nike Air Force 1 '07 LV8 Paisley Swoosh  21/04/23      RATTAN/PALEIVORY/BLACK      139,000원         19
235   140,000원  21/09/21  (W) Nike Air Force 1 '07 Low White       -             WHITE/WHITE                 129,000원         18
260   170,000원  21/05/03  Nike Air Force 1 '07 LV8 Paisley Swoosh  21/04/23      RATTAN/PALEIVORY/BLACK      139,000원         16
270   144,000원  21/06/02  Nike Air Force 1 '07 LV8 Paisley Swoosh  21/04/23      RATTAN/PALEIVORY/BLACK      139,000원         16
                                                                                                                              ..
260   146,000원  21/06/30  Nike Air Force 1 '07 Low Triple Black    -             BLACK/BLACK                 129,000원          1
                21/07/02  Nike Air Force 1 '07 White Black         20/12/23      WHITE/BLACK                 129,000원          1
                21/07/25  Nike Air Force 1 '07 White Black         20/12/23      WHITE/BLACK                 129,000원          1
                21/07/31  Nike Air Force 1 '07 White Black         20/12/23      WHITE/BLACK                 129,000원          1
90    98,000원   21/04/29  (TD) Nike Force 1 Low Acorn 2021         21/04/29      UNDERBRUSH/LIGHTBONE/ACORN  79,000원           1
Length: 73440, dtype: int64

In [4]:
df.shape

(88477, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88477 entries, 0 to 88476
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           88477 non-null  object
 1   price          88477 non-null  object
 2   date           88477 non-null  object
 3   product        88477 non-null  object
 4   release_date   88477 non-null  object
 5   color          88477 non-null  object
 6   release_price  88477 non-null  object
dtypes: object(7)
memory usage: 4.7+ MB

In [6]:
# null 값 보기 
tot = df.isnull().sum().sort_values(ascending=False)
pct = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([tot, pct], axis=1, keys=['Total', 'Percent'])
missing_data

               Total  Percent
size               0      0.0
price              0      0.0
date               0      0.0
product            0      0.0
release_date       0      0.0
color              0      0.0
release_price      0      0.0

###  Preprocessing

In [7]:
# High / Mid / Low구분

In [8]:
df.head(3)

,size,price,date,product,release_date,color,release_price
0,240,"180,000원",20/10/25,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)"
1,235,"120,000원",21/03/03,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)"
2,270,"198,000원",21/08/08,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)"

In [9]:
df.loc[df['product'].str.contains(' High', regex=False), 'type'] = 'High'
df.loc[df['product'].str.contains(' Mid', regex=False), 'type'] = 'Mid'
df.loc[df['product'].str.contains(' Low', regex=False), 'type'] = 'Low'

In [10]:
df.loc[df['type'].isnull(), 'type'] = 'etc'

In [11]:
df['type'].value_counts()

etc     44175
Low     39212
Mid      3833
High     1257
Name: type, dtype: int64

In [12]:
df.loc[df['product'].str.contains('Yellow', regex=False), ['product', 'type']].value_counts()

product                                       type
Nike Air Force 1 Low Gore-Tex Dynamic Yellow  Low     37
dtype: int64

In [13]:
df['type'].isnull().value_counts()

False    88477
Name: type, dtype: int64

In [14]:
# size 컬럼에서 사이즈만 추출  

def size (x) :
    return str(x)[:3]

df['size'] = df["size"].apply(size)

In [15]:
df['size'] = df['size'].apply(int)

In [16]:
# price 컬럼  " , " 과 " 원 " 제거 

import re

def extract_num (num_str) :
    if type(num_str) == str :
        num_str = re.sub('[^0-9]','',num_str)
    return num_str

df['price'] = df['price'].apply(extract_num)
df.head()

,size,price,date,product,release_date,color,release_price,type
0,240,180000,20/10/25,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)",etc
1,235,120000,21/03/03,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)",etc
2,270,198000,21/08/08,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,"$110(약132,300원)",etc
3,235,179000,21/05/22,(GS) Nike Air Force 1 LV8 Double Swoosh,21/01/27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,"$90(약108,300원)",etc
4,245,189000,21/05/23,(GS) Nike Air Force 1 LV8 Double Swoosh,21/01/27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,"$90(약108,300원)",etc

In [17]:
df['price'] = df['price'].apply(int)

In [18]:
# "통화기호 , 한글제거 ""

def NotWon(x):
    if '약' in x:
        r = x.find('약')
        return x[r+1:-2]
    else:
        return x[:-1]

df['release_price'] = df['release_price'].apply(NotWon)

In [19]:
# 가격누락된 컬럼 값 추가 (재확인 필요)
df.loc[df['release_price'] == '', 'release_price']  = '115,000'

In [20]:
# 특수문자 제거 
df['release_price'] = df['release_price'].apply(extract_num)
df.head()

,size,price,date,product,release_date,color,release_price,type
0,240,180000,20/10/25,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc
1,235,120000,21/03/03,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc
2,270,198000,21/08/08,(W) Nike Air Force 1 LXX Game Royal University...,20/10/17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc
3,235,179000,21/05/22,(GS) Nike Air Force 1 LV8 Double Swoosh,21/01/27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,108300,etc
4,245,189000,21/05/23,(GS) Nike Air Force 1 LV8 Double Swoosh,21/01/27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,108300,etc

In [21]:
df['release_price'] = df['release_price'].apply(int)

In [22]:
# date , release_date 컬럼 변경 

df['date'] = df["date"].str.replace('/','-')
df['release_date'] = df['release_date'].str.replace('/','-')

In [23]:
# yyyy -mm-dd 형식으로 변환 
df['date'] = pd.to_datetime(df['date'], format='%y-%m-%d')

In [24]:
#release_date 누락된 값 추가 
df.loc[df['release_date'] == '-', 'release_date']  = '21-07-22'

In [25]:
# yyyy -mm-dd 형식으로 변환 
df['release_date'] = pd.to_datetime(df['release_date'], format='%y-%m-%d')

In [26]:
df.head()

,size,price,date,product,release_date,color,release_price,type
0,240,180000,2020-10-25,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc
1,235,120000,2021-03-03,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc
2,270,198000,2021-08-08,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc
3,235,179000,2021-05-22,(GS) Nike Air Force 1 LV8 Double Swoosh,2021-01-27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,108300,etc
4,245,189000,2021-05-23,(GS) Nike Air Force 1 LV8 Double Swoosh,2021-01-27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,108300,etc

In [27]:
# # 향후 모델링을 고려해 날짜 형식을 Unix 형식으로 변환 

# import datetime as dt

# df['date'] = df['date'].map(dt.datetime.toordinal)
# df['release_date'] = df['release_date'].map(dt.datetime.toordinal)

In [109]:
df.head()

,size,price,date,product,release_date,color,release_price,type
0,300,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
1,285,239000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
2,280,260000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
3,270,250000,2021-06-08,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High
4,260,349000,2021-06-09,Jordan 1 Retro High OG Light Fusion Red,2021-06-12,LIGHTFUSIONRED/WHITE-LASERORANGE-BLACK,199000,High

In [28]:
products = pd.read_csv('data/products/products_nike_air_force.csv')

In [29]:
products.drop('Unnamed: 0', axis=1, inplace=True)

In [30]:
print(products.shape)
products.head()

(360, 6)

,product,brand,category,number,wish,review
0,Nike x Supreme Air Force 1 Low White,Nike,Nike Air Force,23632,2.2만,670
1,Nike Air Force 1 '07 Low White,Nike,Nike Air Force,12831,3.4만,"2,571"
2,Nike x Supreme Air Force 1 Low Flax,Nike,Nike Air Force,44653,"4,273",90
3,(W) Nike Air Force 1 '07 Essential Paisley Swo...,Nike,Nike Air Force,47116,"4,492",42
4,(W) Nike Air Force 1 '07 Low White,Nike,Nike Air Force,13100,1.8만,411

In [31]:
products['review']

0        670
1      2,571
2         90
3         42
4        411
       ...
355        0
356        1
357        8
358        0
359        4
Name: review, Length: 360, dtype: object

In [32]:
products['review'] = products['review'].apply(extract_num).apply(int)

In [33]:
products['review'].value_counts()

0      55
1      39
2      28
3      24
4      15
       ..
78      1
81      1
88      1
33      1
437     1
Name: review, Length: 80, dtype: int64

In [34]:
# products['wish'][0][:-1]

In [35]:
# float(products['wish'][0][:-1])

In [36]:
def number_transform(x):
    if '만' in x:
        return float(x[:-1])*10000
    else:
        return x

In [37]:
products['wish'] = products['wish'].apply(number_transform)

In [38]:
products['wish'] = products['wish'].apply(extract_num).apply(int)

In [39]:
dataset = pd.merge(df, products, how='left', on='product')
print(df.shape)
dataset.head()

(88477, 8)

,size,price,date,product,release_date,color,release_price,type,brand,category,number,wish,review
0,240,180000,2020-10-25,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc,Nike,Nike Air Force,25996,77,0
1,235,120000,2021-03-03,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc,Nike,Nike Air Force,25996,77,0
2,270,198000,2021-08-08,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc,Nike,Nike Air Force,25996,77,0
3,235,179000,2021-05-22,(GS) Nike Air Force 1 LV8 Double Swoosh,2021-01-27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,108300,etc,Nike,Nike Air Force,32108,332,1
4,245,189000,2021-05-23,(GS) Nike Air Force 1 LV8 Double Swoosh,2021-01-27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,108300,etc,Nike,Nike Air Force,32108,332,1

In [40]:
transactions = dataset['product'].value_counts()

In [41]:
transactions = pd.DataFrame({'product':transactions.index , 'transactions':transactions.values})

In [42]:
dataset = pd.merge(dataset, transactions, how='left', on='product')

In [43]:
dataset

,size,price,date,product,release_date,color,release_price,type,brand,category,number,wish,review,transactions
0,240,180000,2020-10-25,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc,Nike,Nike Air Force,25996,77,0,3
1,235,120000,2021-03-03,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc,Nike,Nike Air Force,25996,77,0,3
2,270,198000,2021-08-08,(W) Nike Air Force 1 LXX Game Royal University...,2020-10-17,WHITE/GAMEROYAL-UNIVERSITYRED,132300,etc,Nike,Nike Air Force,25996,77,0,3
3,235,179000,2021-05-22,(GS) Nike Air Force 1 LV8 Double Swoosh,2021-01-27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,108300,etc,Nike,Nike Air Force,32108,332,1,6
4,245,189000,2021-05-23,(GS) Nike Air Force 1 LV8 Double Swoosh,2021-01-27,WHITE/LIGHTARMORYBLUE/ARCTICPUNCH,108300,etc,Nike,Nike Air Force,32108,332,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89216,270,241000,2022-01-07,(W) Nike Air Force 1 Fontanka Pearl White,2021-10-18,PEARLWHITE/PEARLWHITE/UNIVERSITYRED/PEARLWHITE,149000,etc,Nike,Nike Air Force,43413,1310,15,418
89217,220,295000,2022-01-07,(W) Nike Air Force 1 Fontanka Pearl White,2021-10-18,PEARLWHITE/PEARLWHITE/UNIVERSITYRED/PEARLWHITE,149000,etc,Nike,Nike Air Force,43413,1310,15,418
89218,220,299000,2022-01-07,(W) Nike Air Force 1 Fontanka Pearl White,2021-10-18,PEARLWHITE/PEARLWHITE/UNIVERSITYRED/PEARLWHITE,149000,etc,Nike,Nike Air Force,43413,1310,15,418
89219,235,218000,2022-01-07,(W) Nike Air Force 1 Fontanka Pearl White,2021-10-18,PEARLWHITE/PEARLWHITE/UNIVERSITYRED/PEARLWHITE,149000,etc,Nike,Nike Air Force,43413,1310,15,418
89220,235,219000,2022-01-08,(W) Nike Air Force 1 Fontanka Pearl White,2021-10-18,PEARLWHITE/PEARLWHITE/UNIVERSITYRED/PEARLWHITE,149000,etc,Nike,Nike Air Force,43413,1310,15,418

In [44]:
dataset['transactions'].value_counts()

5950    11900
1450     8700
4950     4950
3664     3664
2950     2950
        ...
1          25
24         24
23         23
19         19
4          16
Name: transactions, Length: 168, dtype: int64

In [45]:
## 콜라보 떼어내기

In [46]:
# dataset['product'][99999]

In [47]:
# collabo = 'Nike x '
# r1 = dataset['product'][99999].find(string)
# r2 = dataset['product'][99999][r1+len(string):].find(' ')
# dataset['product'][99999][r1+len(string):r1+len(string)+r2]

In [48]:
# dataset.info()

In [49]:
dataset = dataset.reset_index(drop=True)

In [50]:
set(dataset['product'])

{'(GS) Nike Air Force 1 LE White',
 '(GS) Nike Air Force 1 LV8 3 Wheat 2019',
 '(GS) Nike Air Force 1 LV8 Double Swoosh ',
 '(GS) Nike Air Force 1 LV8 White Black',
 '(GS) Nike Air Force 1 Low LV8 EMB NBA 75th Anniversary',
 '(GS) Nike Air Force 1 Low White',
 '(GS) Nike Air Force 1 S50 Black White',
 '(GS) Nike Air Force 1 S50 White Deep Royal',
 '(GS) Nike Air Force 1 White Black',
 '(GS) Nike Air Force 1 White University Red',
 "(GS) Nike x Space Jam: A New Legacy Air Force 1 '07 Tune Squad",
 '(PS) Nike Force 1 LE Triple White',
 '(PS) Nike Force 1 Low Triple White',
 '(PS) Nike Force 1 Low Wheat',
 '(PS) Nike Force 1 White Black',
 '(PS) Nike x Stussy Force 1 Low Fossil',
 '(PS) Nike x Stussy Force 1 Low Triple Black',
 '(PS) Nike x Travis Scott Force 1 Low Cactus Jack',
 '(TD) Nike Force 1 Low Acorn 2021',
 '(TD) Nike Force 1 Low Wheat',
 '(TD) Nike Force 1 White Fuchsia Glow',
 '(TD) Nike x Off-White Air Force 1 Low Black White',
 '(TD) Nike x Off-White Air Force 1 Low Volt',
 '(TD) Nike x Stussy Air Force 1 Low Fossil',
 '(TD) Nike x Stussy Air Force 1 Low Triple Black',
 "(W) Nike Air Force 1 '07 Coconut Milk",
 "(W) Nike Air Force 1 '07 Essential Black Metallic Gold",
 "(W) Nike Air Force 1 '07 Essential Paisley Swoosh White Black",
 "(W) Nike Air Force 1 '07 Essential Paisley Swoosh White Malachite",
 "(W) Nike Air Force 1 '07 Essential White Black",
 "(W) Nike Air Force 1 '07 Essential White Gym Red",
 "(W) Nike Air Force 1 '07 Essential White Metallic Gold",
 "(W) Nike Air Force 1 '07 Essential White Metallic Silver",
 "(W) Nike Air Force 1 '07 Essential White Rattan",
 "(W) Nike Air Force 1 '07 LV8 Hangul Day",
 "(W) Nike Air Force 1 '07 LV8 Photon Dust Cashmere",
 "(W) Nike Air Force 1 '07 LV8 Sail Light Armory Blue",
 "(W) Nike Air Force 1 '07 LV8 Sashiko",
 "(W) Nike Air Force 1 '07 LX Black Pendant",
 "(W) Nike Air Force 1 '07 LX Have a Nike Day White Glow",
 "(W) Nike Air Force 1 '07 LX Photochromic",
 "(W) Nike Air Force 1 '07 LX Pineapple Canvas",
 "(W) Nike Air Force 1 '07 LX White Pendant",
 "(W) Nike Air Force 1 '07 LX White University Blue",
 "(W) Nike Air Force 1 '07 LXX Next Nature Pearl White Quilt",
 "(W) Nike Air Force 1 '07 LXX Next Nature Pecan Quilt",
 "(W) Nike Air Force 1 '07 Light Bone Photon Dust",
 "(W) Nike Air Force 1 '07 Low Triple Black",
 "(W) Nike Air Force 1 '07 Low White",
 "(W) Nike Air Force 1 '07 Low White Black",
 "(W) Nike Air Force 1 '07 Next Nature White Pale Coral",
 "(W) Nike Air Force 1 '07 PRM Tear Away Arctic Punch",
 "(W) Nike Air Force 1 '07 PRM Tear Away Fauna Brown",
 "(W) Nike Air Force 1 '07 Pink Oxford Fur",
 "(W) Nike Air Force 1 '07 SE First Use Orange Sail",
 "(W) Nike Air Force 1 '07 SE First Use Sail Green Noise",
 "(W) Nike Air Force 1 '07 SE Light Armory Blue",
 "(W) Nike Air Force 1 '07 SE Love For All",
 "(W) Nike Air Force 1 '07 Sherpa Fleece",
 '(W) Nike Air Force 1 Fontanka Archeo Pink',
 '(W) Nike Air Force 1 Fontanka Pearl White',
 '(W) Nike Air Force 1 Fontanka Pink Foam',
 '(W) Nike Air Force 1 Fontanka White',
 '(W) Nike Air Force 1 High Sculpt Gym Red',
 '(W) Nike Air Force 1 High Sculpt Silver',
 '(W) Nike Air Force 1 High Shell Platinum Violet',
 '(W) Nike Air Force 1 High Utility 2.0 Black Gum',
 '(W) Nike Air Force 1 High Utility 2.0 Summit White',
 '(W) Nike Air Force 1 Jester XX Off White',
 '(W) Nike Air Force 1 LXX Game Royal University Red',
 '(W) Nike Air Force 1 LXX Pink Foam',
 '(W) Nike Air Force 1 Low Black Tie-Dye',
 '(W) Nike Air Force 1 Low Catechu',
 '(W) Nike Air Force 1 Low Crater Siren Red',
 '(W) Nike Air Force 1 Low SP Metallic Gold',
 '(W) Nike Air Force 1 Pixel Particle Beige',
 '(W) Nike Air Force 1 Pixel SE Lemon Leopard',
 '(W) Nike Air Force 1 Pixel SE Leopard',
 '(W) Nike Air Force 1 Pixel SE Sail Snake',
 '(W) Nike Air Force 1 Pixel White',
 '(W) Nike Air Force 1 Shadow Barely Green Crimson Tint',
 '(W) Nike Air Force 1 Shadow Cashmere',
 '(W) Nike Air Force 1 Shadow Coconut Milk',
 '(W) Nike Air Force 1 Shadow Orange Pearl',
 '(W) Nike Air Force 1 Shadow Sail Pink Glaze',
 '(W) Nike Air Force 1 Shadow Sail Signal Blue Green Noise',
 '(W) Nike Air Force 1 Shadow Sisterhood',
 '(W) Nike Air Force 1 Shadow Triple White',
 '(W) Nike Air Force 1 Shadow White Crimson Blue',
 '(W) Nike Air Force 1 Shadow White Jade Smoke',
 '(W) Nike Air Force 1 Shadow White Magic Amber',
 '(W) Nike Air Force 1 Shadow White Metallic Silver',
 '(W) Nike Air Force 1 Shadow Wild',
 '(W) Nike x Olivia Kim Air Force 1 Low No Cover',
 '(W) Nike x Swarovski Air Force 1 LXX Triple Black',
 '(W) Nike x Swarovski Air Force 1 LXX Triple White',
 "Nike Air Force 1 '07 3M White",
 "Nike Air Force 1 '07 AN20 Black White",
 "Nike Air Force 1 '07 Black White",
 "Nike Air Force 1 '07 Craft Black",
 "Nike Air Force 1 '07 Craft Dark Beetroot",
 "Nike Air Force 1 '07 Craft Galantic Jade",
 "Nike Air Force 1 '07 Craft Mantra Orange",
 "Nike Air Force 1 '07 Craft Ridgerock",
 "Nike Air Force 1 '07 Craft Triple White",
 "Nike Air Force 1 '07 Craft Vachetta Tan",
 "Nike Air Force 1 '07 Craft Vast Grey",
 "Nike Air Force 1 '07 Craft White & Obsidian",
 "Nike Air Force 1 '07 First Use Black White",
 "Nike Air Force 1 '07 First Use White Team Red",
 "Nike Air Force 1 '07 First Use White University Blue",
 "Nike Air Force 1 '07 High 1-800",
 "Nike Air Force 1 '07 LV8 Coffee",
 "Nike Air Force 1 '07 LV8 Double Swoosh White Light Ginger",
 "Nike Air Force 1 '07 LV8 Double Swoosh White Metallic Gold",
 "Nike Air Force 1 '07 LV8 Dusty Blue",
 "Nike Air Force 1 '07 LV8 Dusty Red",
 "Nike Air Force 1 '07 LV8 EMB Black Silver",
 "Nike Air Force 1 '07 LV8 EMB White and Court Purple",
 "Nike Air Force 1 '07 LV8 First Use University Blue",
 "Nike Air Force 1 '07 LV8 Hangul Day",
 "Nike Air Force 1 '07 LV8 Have a Good Game",
 "Nike Air Force 1 '07 LV8 Indigo",
 "Nike Air Force 1 '07 LV8 Ken Griffey Jr. and Sr. Swingman",
 "Nike Air Force 1 '07 LV8 Live Together, Play Together",
 "Nike Air Force 1 '07 LV8 Low 1 Triple Red",
 "Nike Air Force 1 '07 LV8 Next Nature Grey Fog",
 "Nike Air Force 1 '07 LV8 Next Nature Rattan Sail Brown Kelp",
 "Nike Air Force 1 '07 LV8 Paint Splatter Light Bone",
 "Nike Air Force 1 '07 LV8 Paint Splatter White",
 "Nike Air Force 1 '07 LV8 Paisley Swoosh",
 "Nike Air Force 1 '07 LV8 Rayguns",
 "Nike Air Force 1 '07 LV8 Timeless Classic",
 "Nike Air Force 1 '07 LV8 White Black Blue",
 "Nike Air Force 1 '07 LV8 White Gym Red",
 "Nike Air Force 1 '07 LX Milky Stork",
 "Nike Air Force 1 '07 LX Off Noir",
 "Nike Air Force 1 '07 LX Pink Bag",
 "Nike Air Force 1 '07 LX Siempre Familia",
 "Nike Air Force 1 '07 LX Smoke Grey",
 "Nike Air Force 1 '07 LX Turtle",
 "Nike Air Force 1 '07 LX White Bag",
 "Nike Air Force 1 '07 Light Bone",
 "Nike Air Force 1 '07 Low 1-800",
 "Nike Air Force 1 '07 Low Black White",
 "Nike Air Force 1 '07 Low Gum",
 "Nike Air Force 1 '07 Low Triple Black",
 "Nike Air Force 1 '07 Low University Blue",
 "Nike Air Force 1 '07 Low White",
 "Nike Air Force 1 '07 Low White Pure Platinum",
 "Nike Air Force 1 '07 Low White Team Orange",
 "Nike Air Force 1 '07 Mismatch Swooshes Black",
 "Nike Air Force 1 '07 Mismatch Swooshes White",
 "Nike Air Force 1 '07 PRM Black White",
 "Nike Air Force 1 '07 PRM Halloween",
 "Nike Air Force 1 '07 PRM Orange Zebra",
 "Nike Air Force 1 '07 PRM Pineapple",
 "Nike Air Force 1 '07 PRM Pineapple Cork",
 "Nike Air Force 1 '07 PRM Popcorn",
 "Nike Air Force 1 '07 PRM Pure Platinum",
 "Nike Air Force 1 '07 PRM Quilted Satin Pack Cargo Khaki",
 "Nike Air Force 1 '07 PRM Touch Of Gold",
 "Nike Air Force 1 '07 PRM White Black",
 "Nike Air Force 1 '07 QS LBJ",
 "Nike Air Force 1 '07 QS Valentine's Day",
 "Nike Air Force 1 '07 Recycled Jerseys Pack",
 "Nike Air Force 1 '07 SE First Use Light Stone",
 "Nike Air Force 1 '07 Stitch Black",
 "Nike Air Force 1 '07 Stitch Pine Green",
 "Nike Air Force 1 '07 Stitch Radiant Red",
 "Nike Air Force 1 '07 Triple White Tumbled Leather",
 "Nike Air Force 1 '07 WB Flax",
 "Nike Air Force 1 '07 White Black",
 "Nike Air Force 1 '07 White Gum Light Brown",
 'Nike Air Force 1 B Silver Snake',
 'Nike Air Force 1 Boot Black Anthracite',
 'Nike Air Force 1 Boot Black Red',
 'Nike Air Force 1 Boot Next Nature Brown Kelp',
 'Nike Air Force 1 Experimental Archaeo Brown',
 'Nike Air Force 1 Experimental Black',
 'Nike Air Force 1 Experimental Racer Pink',
 'Nike Air Force 1 Experimental Sail',
 'Nike Air Force 1 Gore-Tex High Phantom White',
 "Nike Air Force 1 High '07 LV8 EMB Dodgers",
 "Nike Air Force 1 High '07 LV8 WB Flax",
 "Nike Air Force 1 High '07 LX Dark Driftwood Hot Curry",
 'Nike Air Force 1 High BHM 2018',
 'Nike Air Force 1 High Flax',
 'Nike Air Force 1 High Gore-Tex Boot Anthracite',
 'Nike Air Force 1 High Gore-Tex Boot Wheat',
 'Nike Air Force 1 High Nai Ke',
 'Nike Air Force 1 High Premium Le Work Boot',
 'Nike Air Force 1 High Retro QS Purple White',
 'Nike Air Force 1 High Wheat 2015',
 'Nike Air Force 1 LV8 Patriots',
 "Nike Air Force 1 Low '07  Orange Skeleton",
 "Nike Air Force 1 Low '07 Black Skeleton",
 "Nike Air Force 1 Low '07 PRM I Believe",
 "Nike Air Force 1 Low '07 Purple Skeleton",
 "Nike Air Force 1 Low '07 White Skeleton",
 'Nike Air Force 1 Low 3M Light Bone',
 'Nike Air Force 1 Low All Star 2015',
 'Nike Air Force 1 Low BHM 2020',
 'Nike Air Force 1 Low BRS White',
 'Nike Air Force 1 Low Be True 2020',
 'Nike Air Force 1 Low Colin Kaepernick',
 'Nike Air Force 1 Low Crater Flyknit Black',
 'Nike Air Force 1 Low Crater Flyknit White Wolf Grey',
 'Nike Air Force 1 Low Crater Flyknit Wolf Grey',
 'Nike Air Force 1 Low Crater Platinum',
 'Nike Air Force 1 Low Crater White Team Orange',
 'Nike Air Force 1 Low Experimental Artifact',
 'Nike Air Force 1 Low Experimental Black and Olive Aura',
 'Nike Air Force 1 Low Experimental Halloween',
 'Nike Air Force 1 Low Experimental Postal Ghost',
 'Nike Air Force 1 Low Flax',
 'Nike Air Force 1 Low Gore-Tex Baroque Brown',
 'Nike Air Force 1 Low Gore-Tex Black',
 'Nike Air Force 1 Low Gore-Tex Black Light Carbon',
 'Nike Air Force 1 Low Gore-Tex Dynamic Yellow',
 'Nike Air Force 1 Low Gore-Tex Escape',
 'Nike Air Force 1 Low Gore-Tex Medium Olive',
 'Nike Air Force 1 Low Gore-Tex Obsidian',
 'Nike Air Force 1 Low Gore-Tex Olive',
 'Nike Air Force 1 Low Gore-Tex Phantom Gum',
 'Nike Air Force 1 Low Gore-Tex Summer Shower',
 'Nike Air Force 1 Low Gore-Tex Team Gold Khaki',
 'Nike Air Force 1 Low Hong Kong 2018',
 'Nike Air Force 1 Low Independence Day 2020',
 'Nike Air Force 1 Low Manchester Bee',
 'Nike Air Force 1 Low Multi Swoosh White Blue',
 'Nike Air Force 1 Low Multi Swoosh White Red',
 'Nike Air Force 1 Low NYC City of Athletes',
 'Nike Air Force 1 Low Premium Hiking Pack',
 'Nike Air Force 1 Low QS Acorn 2021',
 'Nike Air Force 1 Low Recycled Canvas',
 'Nike Air Force 1 Low Reflective Desert Camo',
 'Nike Air Force 1 Low Reflective Duck Camo',
 'Nike Air Force 1 Low Retro Cocoa Snake 2018',
 'Nike Air Force 1 Low Retro Ivory Snake',
 'Nike Air Force 1 Low Retro Puerto Rico 2020',
 'Nike Air Force 1 Low Retro SP Wheat Mocha',
 'Nike Air Force 1 Low Rucker Park 2020',
 "Nike Air Force 1 Low Saint Patrick's Day",
 'Nike Air Force 1 Low Sea Glass',
 'Nike Air Force 1 Low Shroud White',
 'Nike Air Force 1 Low Sketch White Black',
 'Nike Air Force 1 Low Swoosh Pack All-Star 2018 White',
 'Nike Air Force 1 Low Test of Time',
 'Nike Air Force 1 Low Tisci Black',
 'Nike Air Force 1 Low Vachetta Tan',
 'Nike Air Force 1 Low Valentine Day 2021',
 'Nike Air Force 1 Low White Black Midsole',
 'Nike Air Force 1 Low White Pink Midsole',
 'Nike Air Force 1 Low White Pony Hair Heel',
 'Nike Air Force 1 Low White Red Midsole',
 'Nike Air Force 1 Low White Tiger South Korea 2020',
 'Nike Air Force 1 Low White Zipper',
 'Nike Air Force 1 Low Winter Premium Summit White',
 'Nike Air Force 1 Luxe Black',
 'Nike Air Force 1 Luxe Pearl White',
 "Nike Air Force 1 Mid '07 Black",
 "Nike Air Force 1 Mid '07 WB Flax",
 "Nike Air Force 1 Mid '07 White",
 'Nike Air Force 1 Mid CMFT SP Black',
 'Nike Air Force 1 Mid Cork',
 'Nike Air Force 1 Mid Flax',
 'Nike Air Force 1 Mid QS NYC Cool Grey',
 'Nike Air Force 1 Mid QS NYC White Midnight Navy',
 'Nike Air Force 1 Mid Retro PRM Silt Red',
 'Nike Air Force 1 Mid Vachetta Tan',
 'Nike Air Force 1 NDSTRKT White',
 'Nike Air Force 1 React LV8 Barely Green',
 'Nike Air Force 1 React Wolf Grey',
 'Nike Air Force 1 Type 1 Black Gum',
 'Nike Air Force 1 Winter Gore-Tex Olive',
 'Nike Air Force 270 Wolf Grey',
 'Nike Lunar Force 1 Fuse Area 72',
 'Nike SF Air Force 1 Desert Camo',
 'Nike SF Air Force 1 Faded Olive',
 'Nike SF Air Force 1 High Rattan',
 'Nike x 1017 Alyx 9SM Air Force 1 High Black University Red',
 'Nike x 1017 Alyx 9SM Air Force 1 High Black White 2020',
 'Nike x 1017 Alyx 9SM Air Force 1 High Black Wolf Grey',
 'Nike x 1017 Alyx 9SM Air Force 1 High Triple Black 2020',
 'Nike x 1017 Alyx 9SM Air Force 1 High University Red Black',
 'Nike x 1017 Alyx 9SM Air Force 1 High White Black 2020',
 'Nike x 1017 Alyx 9SM Air Force 1 High White Wolf Grey',
 'Nike x A Ma Maniere Air Force 1 Low',
 'Nike x A-Cold-Wall Air Force 1 Low White',
 'Nike x Acronym Lunar Force 1 SP AF100',
 'Nike x Acronym Lunar Force 1 SP Zip Black White',
 'Nike x Cactus Plant Flea Market Air Force 1 Low Black',
 'Nike x Carhartt WIP Air Force 1 Low Ale Brown',
 'Nike x Clot Air Force 1 Low Blue Silk',
 'Nike x Clot Air Force 1 Low Rose Gold Silk',
 'Nike x Clot Lunar Force 1 Fuse 10th Anniversary',
 'Nike x Clot x Fragment Air Force 1 Low Black Silk',
 'Nike x Comme des Garcons Homme Plus Air Force Mid Black',
 'Nike x Comme des Garcons Homme Plus Air Force Mid White',
 'Nike x Comme des Garcons Shirt x Supreme Air Force 1 Low 2018',
 'Nike x Comme des Garcons Shirt x Supreme Air Force 1 Low Eyes',
 'Nike x Just Don Air Force 1 High (AF100)',
 'Nike x Kith Air Force 1 Low Hawaii',
 'Nike x Kith Air Force 1 Low NYC White',
 'Nike x Mayumi Yamase Air Force 1 Flyleather Solar Red',
 "Nike x NBA Air Force 1 '07 LV8 EMB Black and Chile Red",
 "Nike x NBA Air Force 1 '07 LV8 EMB White and Coast Field",
 "Nike x NBA Air Force 1 '07 LV8 EMB White and Turquoise Blue",
 "Nike x Off-White Air Force 1 '07 University Gold",
 'Nike x Off-White Air Force 1 Low Black White',
 'Nike x Off-White Air Force 1 Low MCA University Blue',
 'Nike x Off-White Air Force 1 Low The Ten',
 'Nike x Off-White Air Force 1 Low Volt',
 'Nike x PSNY Air Force 1 High White',
 'Nike x Riccardo Tisci Air Force 1 High Victorious Minotaurs Black',
 'Nike x Riccardo Tisci Air Force 1 Low Tan',
 'Nike x Ruohan Wang Air Force 1 Low Flyleather',
 "Nike x Space Jam: A New Legacy Air Force 1 '07 Computer Chip",
 "Nike x Space Jam: A New Legacy Air Force 1 '07 Tune Squad",
 'Nike x Steve Harrington Air Force 1 Flyleather Earth Day 2019',
 'Nike x Stussy Air Force 1 Low Fossil',
 'Nike x Stussy Air Force 1 Low Triple Black',
 'Nike x Supreme Air Force 1 High World Famous Black',
 'Nike x Supreme Air Force 1 High World Famous Red',
 'Nike x Supreme Air Force 1 High World Famous White',
 'Nike x Supreme Air Force 1 Low Black',
 'Nike x Supreme Air Force 1 Low Flax',
 'Nike x Supreme Air Force 1 Low White',
 'Nike x Supreme Air Force 1 Mid NBA Black',
 'Nike x Supreme Air Force 1 Mid NBA White',
 'Nike x Travis Scott Air Force 1 Low Cactus Jack',
 'Nike x Travis Scott Air Force 1 Low Sail',
 'Nike x Travis Scott Air Force 1 Low White'}

In [51]:
dataset['product'].value_counts().head(20)

Nike Air Force 1 '07 Low White                       5950
Nike x Supreme Air Force 1 Low White                 5950
(W) Nike Air Force 1 '07 Low White                   4950
Nike Air Force 1 '07 LV8 Paisley Swoosh              3664
Nike x Stussy Air Force 1 Low Triple Black           2950
Nike Air Force 1 B Silver Snake                      2846
Nike Air Force 1 '07 Low Triple Black                2597
Nike x Supreme Air Force 1 Low Black                 2200
Nike Air Force 1 '07 LV8 Coffee                      1654
Nike Air Force 1 '07 QS Valentine's Day              1639
Nike Air Force 1 '07 Craft Mantra Orange             1450
(W) Nike Air Force 1 '07 LV8 Hangul Day              1450
Nike Air Force 1 '07 PRM Popcorn                     1450
Nike Air Force 1 '07 White Black                     1450
(GS) Nike Air Force 1 LE White                       1450
Nike x Supreme Air Force 1 Low Flax                  1450
(W) Nike Air Force 1 '07 Low White Black             1426
(W) Nike Air Force 1 '07 LV8 Photon Dust Cashmere    1400
(W) Nike Air Force 1 Shadow Triple White             1354
Nike Air Force 1 '07 LV8 Timeless Classic            1220
Name: product, dtype: int64

In [52]:
# 중복제거 적용 안함
dataset.drop_duplicates()['product'].value_counts().head(20)

Nike x Supreme Air Force 1 Low White                 4736
Nike Air Force 1 '07 Low White                       3682
(W) Nike Air Force 1 '07 Low White                   2816
Nike x Stussy Air Force 1 Low Triple Black           2504
Nike Air Force 1 '07 LV8 Paisley Swoosh              2347
Nike Air Force 1 B Silver Snake                      2226
Nike Air Force 1 '07 Low Triple Black                2063
Nike x Supreme Air Force 1 Low Black                 2040
(W) Nike Air Force 1 '07 Low White Black             1338
Nike Air Force 1 '07 QS Valentine's Day              1304
Nike Air Force 1 '07 Craft Mantra Orange             1300
Nike Air Force 1 '07 White Black                     1295
Nike Air Force 1 '07 PRM Popcorn                     1209
Nike x Supreme Air Force 1 Low Flax                  1181
(W) Nike Air Force 1 Shadow Triple White             1179
(W) Nike Air Force 1 '07 LV8 Photon Dust Cashmere    1161
Nike Air Force 1 '07 LV8 Timeless Classic            1131
(GS) Nike Air Force 1 LE White                       1082
Nike Air Force 1 '07 LV8 Coffee                      1068
Nike Air Force 1 Mid QS NYC Cool Grey                 972
Name: product, dtype: int64

In [53]:
# csv 파일로 저장 

dataset.to_csv('data/nike_air_force(pre).csv')